venv*/
__pycache__/
.env
.env.*
.envrc
*.env
*.env.*
**/.env
**/.env.*
**/*.env
**/*.env.*
.DS_Store
dist/
credentials.json
*.npy
*.bytes
**/call_transcripts/*.txt
benchmark_results/
private.key
dump.rdb
.idea

